
@{
    ViewBag.Title = "Temp data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    @{
        var _fullname = ViewBag.FullName ;
        var _code = ViewBag.Code;


    }

    <table>
        <tr>
            <td> Full Name:</td>
            <td>@_fullname</td>
        </tr>
        <tr>
            <td> Code:</td>
            <td>@_code</td>
        </tr>
    </table>

 

</div>
